main {
  min-height: 100vh;
  width: 65%;
  margin: 0 auto;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.total {
  background-color: whitesmoke;
  text-align: right;
  padding: 15px;
  font-weight: 500;
}

.total-div {
  display: flex;
  flex-direction: row-reverse;
}

.login-screen {
  width: 30%;
  height: 60vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-radius: 8px;
}

.login-btn {
  margin-top: 15px;
  width: 100%;
}

.register-screen {
  width: 50%;
  height: 90vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-radius: 8px;
}
